<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.mapper.UserRepository">

    <!-- 全ユーザーを取得するクエリ -->
    <select id="selectAll" resultType="com.example.domain.entity.User">
        resultType="com.example.domain.entity.User">
        SELECT id, name, age, address FROM user
    </select>

    <!-- IDでユーザーを取得するクエリ -->
    <select id="selectById" parameterType="java.lang.Long"
            resultType="com.example.domain.entity.User">
        SELECT id, name, age, address FROM user WHERE id = #{id}
    </select>

    <!-- ユーザーを作成するクエリ -->
    <insert id="insert" parameterType="com.example.domain.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, age, address)
        VALUES (#{name}, #{age},#{address})
    </insert>

    <!-- ユーザーを作成するクエリ -->
    <update id="update">
        UPDATE user
        SET name = #{user.name}, age = #{user.age}, address = #{user.address}
        WHERE id = #{id}
    </update>

    <!-- ユーザーを削除するクエリ -->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM user WHERE id = #{id}
    </delete>


</mapper>
